prefer-no-csd

layout {
  gaps 4
  default-column-display "tabbed"

  preset-column-widths {
    proportion 1.0
    proportion 0.5
  }

  default-column-width {
    proportion 1.0
  }

  focus-ring {
    off
    width 2
  }

  border {
    on
    width 3
    inactive-gradient from="#f5a3a3" to="#d88db3" angle=90
    active-gradient from="#f5abb9" to="#5bcffa" angle=90
    urgent-color "#ff91af"
  }

  struts {
    bottom 2
    right 1
    left 1
    top 2
  }
}

overview {
  zoom 0.5
  backdrop-color "#222222"
}
