spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"
spawn-at-startup "noctalia-shell"
spawn-sh-at-startup "kitty --hold --single-instance tmux new -s main"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "nmcli" "connection" "up" "fh_2f1338_5G" "passwd-file" "/home/amida/fh_2f1338_5G"
spawn-at-startup "aria2c" "--enable-rpc" "--rpc-listen-all=false" "--dir=/home/amida/Downloads/aria2" "--log=/home/amida/.aria2c.log" "--log-level=notice" "--daemon"
