workspace "term" {
  layout {
    gaps 0
    struts {
      bottom 0
      right 0
      left 0
      top 0
    }
  }
}
workspace "net"

window-rule {
  draw-border-with-background false
  geometry-corner-radius 4
  clip-to-geometry true
}

window-rule {
  match is-floating=true
  geometry-corner-radius 4
}

window-rule {
  match app-id="kitty"
  border { off; }
  focus-ring { off; }
  open-on-workspace "term"
  geometry-corner-radius 0
}

window-rule {
  match app-id="org.pwmt.zathura"
  default-column-width { fixed 725; }
  geometry-corner-radius 0
}

window-rule {
  match app-id="com.github.th_ch.youtube_music"
  default-column-width { fixed 1500; }
  opacity 0.85
}

window-rule {
  match app-id="org.qbittorrent.qBittorrent"
  default-column-width { proportion 0.5; }
  open-floating true
}

window-rule {
  match app-id="org.kde.dolphin"
  default-column-width { proportion 0.5; }
  open-floating true
}

window-rule {
  match app-id="org.freedesktop.impl.portal.desktop.kde"
  default-column-width { fixed 768; }
  open-floating true
}

window-rule {
  match app-id="zen-beta"
  default-column-width { proportion 0.67; }
  open-on-workspace "net"
}

window-rule {
  match app-id="discord"
  default-column-width { proportion 0.5; }
  open-on-workspace "net"
}
